<div class="container">
  <h1>Stupid Coaching</h1>
  <h2>Ask your coach anything:</h2>
  <div class="mb-3">
    <form action="/answer" method="get">
      <input class="form-control" id="exampleFormControlInputl" type="text" name="answer">
      <input type="submit" value="Ask!" class="btn btn-primary mt-3">
    </form>
  </div>
</div>
